{%  extends 'GW2Predict/base.html' %}
{% load static %}

{% block content %}
    <p>Select an item below. Start typing to search.<br>
    All of these items are Crafting Materials and Trophies that are available for sale and purchase on the Black Lion
    Trading Post.<br>
    When you click predict, it will show today's high buy price and a  3 day, 7 day, and 30 day price prediction for
    the buy high price. The model currently works only slightly worse than the naive baseline, with a Mean Absolute
    Error of around .5 gold for the 30 day forecast (which works a little better than the 3 and 7 day forecasts).</p>
    <div class="d-flex align-items-start" style="max-width: 420px; gap: 10px;">
  <!-- Dropdown Wrapper -->
  <div class="dropdown flex-grow-1">
    <!-- Typing Input -->
    <input
      type="text"
      class="form-control"
      id="searchDropdown"
      placeholder="Type to filter..."
      data-bs-toggle="dropdown"
      autocomplete="on"
    >

    <!-- Selectable Values -->
    <ul class="dropdown-menu w-100" id="dropdownMenu">
        {% for item in all_items %}
          <li><button class="dropdown-item" type="button" data-value="{{ item }}">{{ item }}</button></li>
        {% endfor %}
    </ul>
  </div>

  <!-- Predict Button -->
  <button id="predict-button" class="btn btn-primary">Predict!</button>

</div>

    <p id="predict-text"></p>
    <script src="{% static 'GW2Predict/gw2predict_script.js' %}"></script>
{% endblock %}