{%  extends 'base.html' %}
{% load static %}

{% block content %}
<h1>About Isaac</h1>
    <div class="clearfix">
        <img src="{% static 'Isaac-2.JPG' %}"
             class="img-fluid float-start me-4 mb-3"
             style="max-width: 300px;"
             alt="A selfie photo of Isaac smiling jovially in an elevator">
        <p>I am a Python programmer and data analyst based in San Diego, specializing in automation and data infrastructure.
            My approach to work is straightforward: I look for the most cumbersome, manual process in an enterprise
            environment and build a Python pipeline to replace it.
            <br><br>
            My background is a mix of military service and academic
            research. During my time as a Fire Controlman on the USS Ronald Reagan, I worked with high-speed sensor and
            weapon systems, which taught me the importance of reliability, which I apply to  building and maintaining
            high-volume data pipelines today. Whether I am chunking multi-million row datasets with Pandas or building
            backend database abstraction layers, I focus on system integrity and efficiency.
            <br><br>
            I spent several years as a substitute teacher and adjunct history professor, which taught me to value
            structured problem-solving and ethical clarity. I eventually made a hard pivot into tech
            after building automated tools to streamline administrative bottlenecks. I’ve since earned an MS in Data Science
            (3.86 GPA), which allowed me to formalize my skills in machine learning and scalable architecture.
            <br><br>
            At Soft-Pak, I developed a conversion suite that reduced data conversion times from 30 hours to under two.
            I am currently developing this website, after which I will probably start diving into some data regarding
            policing here in Sand Diego.
            I'm looking for roles where I can continue to build and maintain the tools that make complex data accessible
            and usable.
            <br><br>
            When I'm not playing with data or writing Python code, I am the forever Dungeon Master for a weekly tabletop
            roleplaying campaign, currently running Genefunk 2090. I have also spent the last two years steadily
            learning Scots Gaelic—a passion sparked after joining a Renaissance Faire guild called Clan MacGowan and
            diving into Scotland's rich culture and history (once you kilt up once, the rest is just given). Otherwise,
            you can usually find me meal-prepping high-protein vegetarian dishes, practicing Tang Soo Do (a traditional
            Korean martial art), pacing my home office with 20-pound dumbbells, or unwinding with video games.
        </p>
    </div>
{% endblock %}