{%  extends 'CalEd/base.html' %}
{% load static %}

{% block content %}
<h1>Project Links</h1>
    <p>All data for this project came from the following sources:
<ul class="list-group">
    <li class="list-group-item">
        <a href="https://www.cde.ca.gov/ds/si/ds/pubschls.asp"
           target="_blank">State to Federal Shape Crosswalk</a></li>
    <li class="list-group-item">
        <a href="https://transparentcalifornia.com/agencies/salaries/school-districts/"
           target="_blank">CA Public Employee Salaries</a></li>
    <li class="list-group-item">
        <a href="https://caaspp-elpac.ets.org/caaspp/"
           target="_blank">CA State Test Scores (CAASPP)</a></li>
    <li class="list-group-item">
        <a href="https://nces.ed.gov/programs/edge/Geographic/DistrictBoundaries"
           target="_blank">National Center for Education Statistics School District Geographic Boundaries Shape File</a></li>
    <li class="list-group-item">
        <a href="https://data.ca.gov/dataset/ca-geographic-boundaries"
           target="_blank">California County Geographic Boundaries Shape File</a></li>
    <li class="list-group-item">
        <a href="https://leafletjs.com/examples/quick-start/"
           target="_blank">LeafletJS, an open-source JavaScript Library for mobile-friendly interactive maps</a> </li>
    <li class="list-group-item">
        <a href="https://getbootstrap.com/"
           target="_blank">Bootstrap 3, Open Source HTML Frontend framework</a></li>
</ul>
{% endblock %}